
# App
APP_ENV=local
APP_TIMEZONE=Europe/Berlin

# Telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_SECRET=

# Database (Postgres)
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/memory_assistant

# Notion (optional)
NOTION_TOKEN=
NOTION_TASKS_DB_ID=
NOTION_NOTES_DB_ID=
NOTION_CLIENT_ID="36cd872b-594c-8139-8763-0037a29c2f97"
NOTION_CLIENT_SECRET="secret_z1DMa1pCzuM2n7kANk5y3YN66f8lHSxYGs4fF6KpRdd"
NOTION_REDIRECT_URI="https://sea-lion-app-igvwn.ondigitalocean.app/notion/callback"
#"https://poplar-peso-skimmed.ngrok-free.dev/notion/callback"
#change it to your own redirect uri if you deploy the app
#"https://sea-lion-app-igvwn.ondigitalocean.app/notion/callback"
# LLM (text reasoning) - we will fill only if we use a cloud LLM otherwise it will be secret
LLM_PROVIDER=openai
OPENAI_API_KEY=

# Local ASR (no voice to cloud) = if we use this ASM 
ASR_MODEL=small